$body-bg: #fefefe;
$body-color: #777;

$font-family-base: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Meiryo, メイリオ, Verdana, Arial, sans-serif;

$enable-rounded: false;

$light: #ccc;

@import "~bootstrap/scss/bootstrap.scss";
